@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box; }

html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
dl,
dd,
dt {
  margin: 0;
  padding: 0; }

.open{
    overflow: hidden;
}
.container {
  margin: 0;
  padding: 0; }